/* **************************************************** */
/* **************************************************** */
/* Header */

.main-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;
  height: 8rem;
  padding: 0 4.8rem;
  transition: all 0.2s;
}

.logo {
  height: 2.2rem;
}

/* **************************************************** */
/* **************************************************** */
/* Navigation */

.navigation {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav--link:link,
.main-nav--link:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}

.main-nav--link:hover,
.main-nav--link:active {
  color: #cf711f;
}

.main-nav--link.nav-cta:link,
.main-nav--link.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}
.main-nav--link.nav-cta:hover,
.main-nav--link.nav-cta:active {
  background-color: #cf711f;
}
/* mobile navigation */
.mobile-nav-btn {
  background: none;
  border: none;
  display: none;
}
.mobile-nav-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* sticky navigation bar */
.sticky .main-header {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 8rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 999;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}
/* **************************************************** */
/* **************************************************** */
/* Hero section* */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  padding: 0 3.2rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.meals {
  display: flex;
  margin-top: 8rem;
  gap: 1.6rem;
  align-items: center;
}
.meals-imgs {
  display: flex;
}

.meals-imgs img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.meals-imgs img:last-child {
  margin: 0;
}
.meals-delivered {
  font-size: 1.6rem;
  font-weight: 600;
}

.meals-delivered span {
  color: #cf711f;
  font-weight: 700;
}

/* **************************************************** */
/* **************************************************** */
/* featured in section* */
.heading-featured {
  color: #888;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
}
.section-featured {
  padding: 4.8rem 0 3.6rem 0;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/* **************************************************** */
/* **************************************************** */
/* How it works section* */
.section-how {
  padding: 4.8rem 0;
}
.img-step {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.img-step img {
  width: 35%;
}
.img-step::before,
.img-step::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-step::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.img-step::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.number-step {
  font-size: 8.6rem;
  font-weight: 500;
  color: #ddd;
  margin-bottom: 1.6rem;
}

.description-step {
  font-size: 1.8rem;
  line-height: 1.8;
}
.text-step {
  align-self: center;
}

/* **************************************************** */
/* **************************************************** */
/* meals section* */
.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 4.8rem 8.6rem rgba(0, 0, 0, 0.05);
}
.meal-img {
  width: 100%;
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.tags-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.tag {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 00.75px;
  color: #333;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
  margin-bottom: 1.6rem;
}

.tag-vegetarian {
  background-color: #74b816;
}

.tag-vegan {
  background-color: #37b24d;
}

.tag-paleo {
  background-color: #ffec99;
}

.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}
.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

.meal-features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.meal-feature {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.link-section {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}
/* **************************************************** */
/* **************************************************** */
/* Testimonial section* */

.section-testimonial {
  display: grid;
  grid-template-columns: 55fr 45fr;
  row-gap: 4.8rem;
  column-gap: 6.4rem;
  align-items: center;
  background-color: #fdf2e9;
}
.testimonial-container {
  padding: 6.4rem;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-container {
  overflow: hidden;
}

.gallery-img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-img:hover {
  transform: scale(1.1);
}
/* **************************************************** */
/* **************************************************** */
/* pricing section* */
.section-pricing {
  padding: 9.6rem 0;
}

.pricing-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.pricing-plan {
  width: 70%;
  border-radius: 11px;
}

.pricing-plan--starter {
  justify-self: end;
  padding: 4.6rem;
  border: 2px solid #fdf2e9;
}
.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "best price";
  text-transform: uppercase;
  background-color: rgb(255, 208, 0);
  color: #333;
  padding: 0.8rem 8rem;
  font-weight: 700;
  font-size: 1.2rem;
  position: absolute;
  top: 5%;
  right: -18%;
  transform: rotate(45deg);
}

.pricing-name {
  font-size: 2rem;
  color: #cf711f;
  font-weight: 600;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 00.75px;
}

.pricing {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.pricing span {
  font-size: 3.4rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.pricing-text {
  font-size: 1.6rem;
  color: #6f6f6f;
  font-weight: 400;
}

.pricing-cta {
  text-align: center;
  margin-top: 4.8rem;
}

.feature-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #e67e22;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}
.feature-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  line-height: 2.3rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.aside-information {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 600;
  text-align: center;
}

.feature {
  border-radius: 11px;
}

/* **************************************************** */
/* **************************************************** */
/* CTA section* */
.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 0 4.8rem rgba(0, 0, 0, 0.15);
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);

  background-size: cover;
  background-position: center;
}

.cta-text-box {
  padding: 6.4rem;
  padding-top: 4.8rem;
  color: #45260a;
}
.cta-heading {
  margin-bottom: 3.2rem;
  color: #45260a;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 3.6rem;
  margin-top: 4.8rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  padding: 1.2rem;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  width: 100%;
}

.cta-form input::placeholder {
  color: #aaa;
}

.form-btn {
  background-color: #45260a;
  color: #fdf2e9;
  padding: 1.2rem;
  align-self: end;
  border: none;
}

.form-btn:hover {
  background-color: #fdf2e9;
  color: #45260a;
}

.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* **************************************************** */
/* **************************************************** */
/* footer* */
.footer {
  padding: 12.8rem 0;
  border-top: 2px solid #eee;
}

.footer-heading {
  font-size: 1.8rem;
  margin-bottom: 4rem;
  color: #767676;
  font-weight: 500;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:visited,
.footer-link:link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #333;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.social-nav {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.logo-link {
  margin-bottom: 3.2rem;
  display: block;
}
.copyrights {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.8;
  margin-top: auto;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  color: #767676;
  line-height: 1.8;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 6.9rem;
}
