/* **************************************************** */
/* **************************************************** */
/* Header */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;
  height: 8rem;
  padding: 0 4.8rem;
}
.main-header img {
  height: 2.2rem;
}

/* **************************************************** */
/* **************************************************** */
/* Navigation */

.navigation {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.main-nav--link:link,
.main-nav--link:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}

.main-nav--link:hover,
.main-nav--link:active {
  color: #cf711f;
}

.main-nav--link.nav-cta:link,
.main-nav--link.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}
.main-nav--link.nav-cta:hover,
.main-nav--link.nav-cta:active {
  background-color: #cf711f;
}

/* **************************************************** */
/* **************************************************** */
/* Hero section* */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  padding: 0 3.2rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.meals {
  display: flex;
  margin-top: 8rem;
  gap: 1.6rem;
  align-items: center;
}
.meals-imgs {
  display: flex;
}

.meals-imgs img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.meals-imgs img:last-child {
  margin: 0;
}
.meals-delivered {
  font-size: 1.6rem;
  font-weight: 600;
}

.meals-delivered span {
  color: #cf711f;
  font-weight: 700;
}

/* **************************************************** */
/* **************************************************** */
/* featured in section* */
.heading-featured {
  color: #888;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
}
.section-featured {
  padding: 4.8rem 0 3.6rem 0;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/* **************************************************** */
/* **************************************************** */
/* How it works section* */
.section-how {
  padding: 4.8rem 0;
}
.img-step {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.img-step img {
  width: 35%;
  transition: all 0.4s;
}
.img-step::before,
.img-step::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-step::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.img-step::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.img-step img:hover {
  transform: scale(1.05);
}

.number-step {
  font-size: 8.6rem;
  font-weight: 500;
  color: #ddd;
  margin-bottom: 1.6rem;
}

.description-step {
  font-size: 1.8rem;
  line-height: 1.8;
}
.text-step {
  align-self: center;
}

/* **************************************************** */
/* **************************************************** */
/* How it works section* */
.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 4.8rem 8.6rem rgba(0, 0, 0, 0.05);
}
.meal-img {
  width: 100%;
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.tags-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.tag {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 00.75px;
  color: #333;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
  margin-bottom: 1.6rem;
}

.tag-vegetarian {
  background-color: #74b816;
}

.tag-vegan {
  background-color: #37b24d;
}

.tag-paleo {
  background-color: #ffec99;
}

.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}
.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

.meal-features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.meal-feature {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.list-icon {
  font-size: 2.4rem;
  color: #e67e22;
  margin-right: 1.6rem;
}

.link-section {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}
/* **************************************************** */
/* **************************************************** */
/* Testimonial section* */

.section-testimonial {
  display: grid;
  grid-template-columns: 55fr 45fr;
  row-gap: 4.8rem;
  column-gap: 6.4rem;
  align-items: center;
  background-color: #fdf2e9;
}
.testimonial-container {
  padding: 6.4rem;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-container {
  overflow: hidden;
}

.gallery-img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-img:hover {
  transform: scale(1.1);
}
